.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.table__search {
    display: flex;
    justify-content: flex-end;
}

.table__search input {
    padding: 3px 0 3px 10px;
    border: 1px solid #777;
    font-size: 1rem;
    border-radius: 1rem;
}

.table__search input:focus {
    border: 1px solid rgb(26, 188, 156);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    gap: 8px;
    font-size: 14px;
}

.pagination button {
    padding: 8px;
    border-radius: 1rem;
}

.pagination__index {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pagination__index .index-btn {
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    .table {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 830px) {
    .table {
        font-size: 0.825rem;
    }

    .table th,
    .table td {
        padding: 4px;
    }
}

@media screen and (max-width: 700px) {
    .table td {
        text-align: right;
    }

    .filters {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}
