@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}

body {
    background-color: azure;
}

body,
button,
input,
textarea {
    font-family: 'Roboto', sans-serif;
}

input,
select {
    outline: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: initial;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-dark {
    background-color: #000;
}

/* Layout */
.container {
    max-width: 968px;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: rgb(26, 188, 156);
    color: #fff;
    border-radius: 1rem;
    font-weight: 600;
}

.button:hover {
    opacity: .7;
}

.button__icon {
    margin-left: .5rem;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}